body {
    text-align: center;
    padding: 10%;
}

input {
    width: 50% !important;
}

select {
    display:inline !important;
    width:auto !important;
}

h1{
    color: teal;
}

button {
    height:100%;
    padding: 5px;
    border:none;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.todos-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.todos-container > div {
    width: 40%;
    padding: 20px;
    background-color: rgb(201, 237, 237);
}

.logout-container{
    display:flex;
    justify-content: flex-end;
}